<?xml version="1.0" encoding="UTF-8"?>
<Configuration>

    <!-- prod일시 로그 파일에 대한 롤링 및 사이즈 등등에 대해 설정 더 필요  -->

    <!-- 해당 설정파일에서 사용하는 프로퍼티-->
    <Properties>
        <property name="LOGS_PATH">C:\test_logs</property>
    </Properties>

    <Appenders>
        <!-- 콘솔 -->
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss}:%-3relative] %-5level %logger{35} - %msg%n"/>
        </Console>

        <!-- 파일 -->
        <RollingFile name="RollingFile">
            <FileName>${LOGS_PATH}/log4j2.log</FileName>
            <FilePattern>${LOGS_PATH}/log4j2.%d{yyyy-MM-dd}.%i.log.gz</FilePattern>
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss} %5p [%c] %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="100MB"/>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
        </RollingFile>
    </Appenders>

    <Profiles>
        <Profile name="!application-prod">
            <Loggers>
                <logger name="iirtech.com." level="DEBUG" additivity="false">
                    <AppenderRef ref="console"/>
                    <AppenderRef ref="RollingFile"/>
                </logger>

                <logger name="org.springframework.security.web.FilterChainProxy" level="DEBUG" additivity="false">
                    <AppenderRef ref="console"/>
                    <AppenderRef ref="RollingFile"/>
                </logger>

                <logger name="jdbc.resultsettable" level="INFO">
                    <appender-ref ref="console"/>
                </logger>

                <Root level="DEBUG">
                    <AppenderRef ref="console"/>
                    <AppenderRef ref="RollingFile"/>
                </Root>
            </Loggers>
        </Profile>

        <Profile name="application-prod">
            <Loggers>
                <logger name="iirtech.com." level="ERROR" additivity="false">
                    <AppenderRef ref="console"/>
                    <AppenderRef ref="RollingFile"/>
                </logger>

                <logger name="org.springframework.security.web.FilterChainProxy" level="DEBUG" additivity="false">
                    <AppenderRef ref="console"/>
                    <AppenderRef ref="RollingFile"/>
                </logger>

                <logger name="jdbc.resultsettable" level="INFO">
                    <appender-ref ref="console"/>
                </logger>

                <Root level="DEBUG">
                    <AppenderRef ref="console"/>
                    <AppenderRef ref="RollingFile"/>
                </Root>
            </Loggers>
        </Profile>
    </Profiles>


<!--    <Loggers>-->
<!--        &lt;!&ndash; Application Loggers &ndash;&gt;-->
<!--        &lt;!&ndash; Root 보다 우선 순위가 높습니다. &ndash;&gt;-->
<!--        <logger name="iirtech.com.test" level="DEBUG" additivity="false">-->
<!--            <AppenderRef ref="console"/>-->
<!--            <AppenderRef ref="RollingFile"/>-->
<!--        </logger>-->

<!--        <logger name="com.test.api.service" level="INFO" additivity="false">-->
<!--            <AppenderRef ref="console"/>-->
<!--            <AppenderRef ref="RollingFile"/>-->
<!--        </logger>-->

<!--        &lt;!&ndash; FATAL, ERROR, WARN, INFO, DEBUG, TRACE &ndash;&gt;-->
<!--        <Root level="ERROR">-->
<!--            <AppenderRef ref="console"/>-->
<!--            <AppenderRef ref="RollingFile"/>-->
<!--        </Root>-->
<!--    </Loggers>-->
</Configuration>
