<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds" debug="ture">
    <property name="logdir" value="./logs"/> <!--로그파일 위치()-->
    <timestamp key="BY_DATE" datePattern="yyyy-MM-dd"/>
    <property name="module" value="ksl_userSys"/> <!--모듈명-->
    <property name="logback" value="logback"/> <!--로그파일 저장위치-->
    <property name="pattern" value="[%-5level] [%d{yyyy-MM-dd HH:mm:ss}] [%thread] %logger{36}- %msg%n"/>
    <property name="rootDir" value="/Users/chs/정리/업무/logTest/${module}_log"/>
    <property name="extns" value="%d{yyyy-MM-dd_HH-mm}(%i).log" />

<!--            local profile                -->
    <springProfile name="local">
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
                <level>debug</level>
            </filter>
            <encoder>
                <charset>UTF-8</charset>
                <pattern>${pattern}</pattern>
            </encoder>
        </appender>

        <appender name="DEBUG_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
                <level>debug</level>
            </filter>
            <!--파일 위치 정보이자 파일 명-->
            <file>${logdir}/LOCAL_DEBUG_LOG-${BY_DATE}.log</file>
            <append>true</append>
            <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                <!--롤링할 때 필요한 파일 위치 정보-->
                <fileNamePattern>${rootDir}/local/${BY_DATE}/DEBUG/debug.${extns}
                </fileNamePattern>
                <maxHistory>30</maxHistory>
                <maxFileSize>100MB</maxFileSize>
                <totalSizeCap>3GB</totalSizeCap>
            </rollingPolicy>
            <encoder>
                <charset>UTF-8</charset>
                <pattern>${pattern}</pattern>
            </encoder>
        </appender>

        <appender name="INFO_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
                <level>info</level>
            </filter>
            <!--파일 위치 정보이자 파일 명-->
            <file>${logdir}/LOCAL_INFO_LOG-${BY_DATE}.log</file>
            <append>true</append>
            <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                <!--롤링할 때 필요한 파일 위치 정보-->
                <fileNamePattern>${rootDir}/local/${BY_DATE}/INFO/info.${extns}
                </fileNamePattern>
                <maxHistory>30</maxHistory>
                <maxFileSize>100MB</maxFileSize>
                <totalSizeCap>3GB</totalSizeCap>
            </rollingPolicy>
            <encoder>
                <charset>UTF-8</charset>
                <pattern>${pattern}</pattern>
            </encoder>
        </appender>

        <!--로거-->
        <!--CONDITIONS EVALUATION REPORT log-->
        <logger name="org.springframework.boot.autoconfigure.logging.ConditionEvaluationReportLoggingListener" level="info">
            <appender-ref ref="CONSOLE"/>
        </logger>
        <logger name="org.apache.commons.digester.Digester" level="info">
            <appender-ref ref="CONSOLE"/>
        </logger>

        <root level="debug">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="DEBUG_LOG"/>
            <appender-ref ref="INFO_LOG"/>
        </root>
    </springProfile>

<!--            dev profile                -->
    <springProfile name="dev" >
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
                <level>debug</level>
            </filter>
            <encoder>
                <charset>UTF-8</charset>
                <pattern>${pattern}</pattern>
            </encoder>
        </appender>

        <appender name="DEBUG_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
                <level>debug</level>
            </filter>
            <!--파일 위치 정보이자 파일 명-->
            <file>${logdir}/DEV_DEBUG_LOG-${BY_DATE}.log</file>
            <append>true</append>
            <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                <!--롤링할 때 필요한 파일 위치 정보-->
<!--                <fileNamePattern>${logdir}/dev/${BY_DATE}/DEBUG/debug_${module}.%d{yyyy-MM-dd}.gz-->
                <fileNamePattern>${rootDir}/dev/${BY_DATE}/DEBUG/debug.${extns}
                </fileNamePattern>
                <maxHistory>30</maxHistory>
                <maxFileSize>100MB</maxFileSize>
                <totalSizeCap>3GB</totalSizeCap>
            </rollingPolicy>
            <encoder>
                <charset>UTF-8</charset>
                <pattern>${pattern}</pattern>
            </encoder>
        </appender>

        <appender name="INFO_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
                <level>info</level>
            </filter>
            <!--파일 위치 정보이자 파일 명-->
            <file>${logdir}/DEV_INFO_LOG-${BY_DATE}.log</file>
            <append>true</append>
            <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                <!--롤링할 때 필요한 파일 위치 정보-->
                <fileNamePattern>${rootDir}/dev/${BY_DATE}/INFO/info.${extns}
                </fileNamePattern>
                <maxHistory>30</maxHistory>
                <maxFileSize>100MB</maxFileSize>
                <totalSizeCap>3GB</totalSizeCap>
            </rollingPolicy>
            <encoder>
                <charset>UTF-8</charset>
                <pattern>${pattern}</pattern>
            </encoder>
        </appender>

        <appender name="WARN_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
                <level>warn</level>
            </filter>
            <!--파일 위치 정보이자 파일 명-->
            <file>${logdir}/DEV_WARN_LOG-${BY_DATE}.log</file>
            <append>true</append>
            <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                <!--롤링할 때 필요한 파일 위치 정보-->
                <fileNamePattern>${rootDir}/dev/${BY_DATE}/WARN/warn.${extns}
                </fileNamePattern>
                <maxHistory>30</maxHistory>
                <maxFileSize>100MB</maxFileSize>
                <totalSizeCap>3GB</totalSizeCap>
            </rollingPolicy>
            <encoder>
                <charset>UTF-8</charset>
                <pattern>${pattern}</pattern>
            </encoder>
        </appender>

        <appender name="ERROR_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
                <level>error</level>
            </filter>
            <!--파일 위치 정보이자 파일 명-->
            <file>${logdir}/DEV_ERROR_LOG-${BY_DATE}.log</file>
            <append>true</append>
            <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                <!--롤링할 때 필요한 파일 위치 정보-->
                <fileNamePattern>${rootDir}/dev/${BY_DATE}/ERROR/error.${extns}
                </fileNamePattern>
                <maxHistory>30</maxHistory>
                <maxFileSize>100MB</maxFileSize>
                <totalSizeCap>3GB</totalSizeCap>
            </rollingPolicy>
            <encoder>
                <charset>UTF-8</charset>
                <pattern>${pattern}</pattern>
            </encoder>
        </appender>

        <logger name="org.springframework.boot.autoconfigure.logging.ConditionEvaluationReportLoggingListener" level="info">
            <appender-ref ref="CONSOLE"/>
        </logger>

        <logger name="com.zaxxer.hikari.pool.HikariPool" level="info">
            <appender-ref ref="CONSOLE"/>
        </logger>

        <logger name="org.apache.commons.digester.Digester" level="info">
            <appender-ref ref="CONSOLE"/>
        </logger>
<!--        <logger name="jdbc.audit" level="info">-->
<!--            <appender-ref ref="CONSOLE"/>-->
<!--        </logger>-->
        <logger name="jdbc.sqlonly" level="off">
            <appender-ref ref="CONSOLE"/>
        </logger>
        <logger name="jdbc.resultset" level="off">
            <appender-ref ref="CONSOLE"/>
        </logger>
<!--        <logger name="jdbc.connection" level="info">-->
<!--            <appender-ref ref="CONSOLE"/>-->
<!--        </logger>-->

        <root level="debug">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="DEBUG_LOG"/>
            <appender-ref ref="INFO_LOG"/>
            <appender-ref ref="WARN_LOG"/>
            <appender-ref ref="ERROR_LOG"/>
        </root>
    </springProfile>

<!--            prod profile                -->
    <springProfile name="prod">
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
                <level>debug</level>
            </filter>
            <encoder>
                <charset>UTF-8</charset>
                <pattern>${pattern}</pattern>
            </encoder>
        </appender>

        <appender name="DEBUG_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
                <level>debug</level>
            </filter>
            <!--파일 위치 정보이자 파일 명-->
            <file>${logdir}/PROD_DEBUG_LOG-${BY_DATE}.log</file>
            <append>true</append>
            <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                <!--롤링할 때 필요한 파일 위치 정보-->
<!--                <fileNamePattern>${logdir}/${module}/${logback}_%d{yy-MM-dd}/debug_${module}.%d{yyyy-MM-dd_HH}.gz</fileNamePattern>-->
<!--                <fileNamePattern>/Users/insungpark/${module}_log/prod/${BY_DATE}/DEBUG/debug_${module}.%d{yyyy-MM-dd_HH-mm}(%i).gz</fileNamePattern>-->
                <fileNamePattern>${rootDir}/prod/${BY_DATE}/DEBUG/debug.${extns}</fileNamePattern>
                <maxHistory>30</maxHistory>
                <maxFileSize>100MB</maxFileSize>
                <totalSizeCap>3GB</totalSizeCap>
            </rollingPolicy>
            <encoder>
                <charset>UTF-8</charset>
                <pattern>${pattern}</pattern>
            </encoder>
        </appender>

        <appender name="INFO_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
                <level>info</level>
            </filter>
            <!--파일 위치 정보이자 파일 명-->
            <file>${logdir}/PROD_INFO_LOG-${BY_DATE}.log</file>
            <append>true</append>
            <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                <!--롤링할 때 필요한 파일 위치 정보-->
                <fileNamePattern>${rootDir}/prod/${BY_DATE}/INFO/info.${extns}</fileNamePattern>
                <maxHistory>30</maxHistory>
                <maxFileSize>100MB</maxFileSize>
                <totalSizeCap>3GB</totalSizeCap>
            </rollingPolicy>
            <encoder>
                <charset>UTF-8</charset>
                <pattern>${pattern}</pattern>
            </encoder>
        </appender>

        <appender name="WARN_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
                <level>warn</level>
            </filter>
            <!--파일 위치 정보이자 파일 명-->
            <file>${logdir}/PROD_WARN_LOG-${BY_DATE}.log</file>
            <append>true</append>
            <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                <!--롤링할 때 필요한 파일 위치 정보-->
                <fileNamePattern>${rootDir}/prod/${BY_DATE}/WARN/warn.${extns}</fileNamePattern>
                <maxHistory>30</maxHistory>
                <maxFileSize>100MB</maxFileSize>
                <totalSizeCap>3GB</totalSizeCap>
            </rollingPolicy>
            <encoder>
                <charset>UTF-8</charset>
                <pattern>${pattern}</pattern>
            </encoder>
        </appender>

        <appender name="ERROR_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
                <level>error</level>
            </filter>
            <!--파일 위치 정보이자 파일 명-->
            <file>${logdir}/PROD_ERROR_LOG-${BY_DATE}.log</file>
            <append>true</append>
            <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                <!--롤링할 때 필요한 파일 위치 정보-->
                <fileNamePattern>${rootDir}/prod/${BY_DATE}/ERROR/error.${extns}</fileNamePattern>
                <maxHistory>30</maxHistory>
                <maxFileSize>100MB</maxFileSize>
                <totalSizeCap>3GB</totalSizeCap>
            </rollingPolicy>
            <encoder>
                <charset>UTF-8</charset>
                <pattern>${pattern}</pattern>
            </encoder>
        </appender>

        <logger name="org.springframework.boot.autoconfigure.logging.ConditionEvaluationReportLoggingListener" level="info">
            <appender-ref ref="CONSOLE"/>
        </logger>
        <logger name="org.apache.commons.digester.Digester" level="info">
            <appender-ref ref="CONSOLE"/>
        </logger>

        <root level="DEBUG">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="DEBUG_LOG"/>
            <appender-ref ref="INFO_LOG"/>
            <appender-ref ref="WARN_LOG"/>
            <appender-ref ref="ERROR_LOG"/>
        </root>
    </springProfile>
</configuration>
